<div>

    <h1>Log in</h1>

    <form id="loginForm">

        <label for="">Email</label>
        <input type="text" name="email">

    

        <label for="">Password</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

    <a href="/api/sessions/github">Log in to your GitHub Count</a>
    <p>Create your account <a href="/register">Sign Up</a></p>
    <p>Forgot your Password?<a href="/resetPassword">Reset Password</a></p>

    
</div>

<script src="/js/login.js"></script>