<div>
    <h1>Reset Password</h1>

    <form id="restartPassword">
        <label for="">Email</label>
        <input type="text" name="email">
        <label for="">New Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <a href="/login">Back to login</a>
</div>

<script src="/js/restartPassword.js"></script>